@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cal Poly Pomona<br />
    Pomona, CA 91766<br />
    <abbr title="Phone">P:</abbr>
    650.200.9929
</address>

<address>
    <strong>Contact me:</strong>   <a href="mailto:dapimienta@cpp.edu">dapimienta@cpp.edu</a><br />
</address>